
@font-face {
    font-family: SoDoSans;
    src: url(SoDoSans-Bold.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.navbar-container{
    display: flex;
    padding: 30px 0;
    justify-content: center;
    border: solid 1px gray;
}

.navbar{
    display: flex;
    width: 1450px;
    justify-content: space-between;
    font-size: medium;
    font-weight: bold;
    font-family: SoDoSans, sans-serif;
    align-items: center;
    gap: 2rem;
    margin-left: 40px;
    
}



.signin{
    margin-left: auto;
    border: 1px solid black;
    border-radius: 40px;
    padding: 10px;

}

.join-now{
    border: 1px solid black;
    border-radius: 40px;
    padding: 10px;
    background-color: black;
    color: white;
}



a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: green;
}

