*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: SoDoSans;
    src: url(SoDoSans-Bold.ttf);
}

.flex{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}


.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    border: 1px solid gray;
    padding: 20px 0;
    height: 100px;
    font-family: SodoSans;
}

.logo{
    margin-left: 100px;
}

.navbar-leftside{
    display: flex;
    flex: 1;
}

.menu, .rewards, .giftcards{
    margin: 20px;
}


.navbar-rightside{
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.register{
    margin-left: 20px;
    margin-right: 150px;
}


.item{
    background-color: #ef3340;
    color: white;
    font-size: 19px;
    font-family: SoDoSans;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 720px;
    height: 420px;
}

.item.two p{
    padding-bottom: 120px;
    font-size: 25px;
}

.item.two h1{
    padding-top: 50px;
}
